.title{
    color: rgb(88, 174, 177);  
    font-weight: bolder; 
    padding-top: 25px;
    font-family: 'Times New Roman', Times, serif; 
}
  .box {
    margin-top: 20px; 
    margin-bottom: 60px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

  }

  .panel {
    border-style: solid;
    color: aliceblue
  }

  img{
    width:100% !important;
    height:100% !important;
}
.navbar-brand{
    background-color: rgb(88, 174, 177);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.navbar-light .navbar-brand{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.active, .panel:hover{
  border-color:rgb(88, 174, 177);
  border-style: solid; 
  
}
.nav-link:hover{
  background-color:rgb(214, 227, 228) !important;
 }
 .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background-color:rgb(214, 227, 228) !important; 
}
.table table-striped{
  position: relative;
  width: 100%;
}
footer {
  width: 100%;
  height: 28px;
  border-top: 1px solid #E0E0E0;
  position: absolute;
  left: 0px; 
  text-align: center; 
  }


@media(max-width: 992px){
  .navbar-expand-lg{
  background-color: #ffff !important;
  }
  .navbar{
      max-height: none; 
      padding: inherit;
  }
  .navbar div{
      margin: inherit; 
      background-color: white;  
  }
  .navbar-brand{
      padding: 10px !important; 
  }
  
  button{
      margin-right: 30px; 
  }
  button:focus {
  
      outline: 1px dotted;
      outline: 5px auto -webkit-focusring-color;
      
  }
  table {
    font-size: xx-small;
  }
}



 


